body,main,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #232323;
  color: white;
}
.main-container{
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  gap:10px;
}
#current-path{
  margin: 0;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
}

#search_button{
  width: 85px;
  padding: 5px;
  font-size: 1rem;
}

#search_bar{
  padding: 5px;
  width: calc(100% - 100px);
  background-color: #232323;
  font-size: 1rem;
}
.search{
  width: 100%;
  height: fit-content;
  margin-left: 5px;
  margin-right: 5px;
}