body,main,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #232323;
  color: white;
}
.main-container{
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  gap:10px;
}
#current-path{
  margin: 0;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
}